.nav__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__menu {
  overflow-y: hidden;
  max-height: 1em;
}

.nav__menu:hover {
  background: green;
  overflow-y: visible;
}

.nav__menu-items {
  position: relative;
  display: flex;
  flex-direction: column;
}













